<section class="addformsection">
  <br />
  <form (ngSubmit)="addPost(postsForm.value)" [formGroup]="postsForm">
    <h3 align="center">Fill those details for add a hair wig model</h3>

    <label for="title">Model Name:</label>
    <input type="text" formControlName="title" />

    <label for="content">Description:</label>
    <textarea formControlName="content"></textarea>

    <label for="cover" class="cover"
      ><i class="fas fa-upload"></i> Choose a file</label
    >
    <input
      type="file"
      name="cover"
      id="cover"
      (change)="handleInput($event)"
      formControlName="cover"
    />

    <div class="button">
      <input type="submit" [disabled]="!postsForm.valid" value="Submit" />
    </div>
  </form>
  <p class="percent" *ngIf="percentage">Uploading File: {{ percentage }} %</p>
</section>
