<div class="posts">
  <div class="post" *ngFor="let post of posts">
    <div
      class="cover"
      [ngStyle]="{ 'background-image': 'url(' + post.data.cover + ')' }"
    ></div>
    <h4 id="{{ post.id }}">
      <table>
        <td>
          <tr>
            {{
              post.data.title
            }}
          </tr>
          <tr>
            {{
              post.data.content
            }}
          </tr>
          <tr>
            <button
              mat-raised-button
              color="warn"
              (click)="deletePost(post.id, post.data.fileref)"
            >
              Delete
            </button>
          </tr>
        </td>
      </table>

      <!-- <span (click)="deletePost(post.id, post.data.fileref)">Delete</span> -->
    </h4>
  </div>
</div>
