<div class="posts">
  <div class="post" *ngFor="let post of posts">
    <div
      class="cover"
      [ngStyle]="{ 'background-image': 'url(' + post.data.cover + ')' }"
    ></div>
    <div class="text" id="{{ post.id }}">
      <table>
        <td>
          <tr>
            <h3>
              <b>
                {{ post.data.title }}
              </b>
            </h3>
          </tr>
          <tr>
            <h6>
              {{ post.data.content }}
            </h6>
          </tr>
          <tr>
            <td>
              <div class="delete">
                <button
                  mat-raised-button
                  color="warn"
                  (click)="deletePost(post.id, post.data.fileref)"
                >
                  Delete
                </button>
              </div>
            </td>
            <td>
              <div class="vilibility">
                <div *ngIf="itVisble()">
                  <button
                    mat-button
                    color="accent"
                    (click)="editToInVisible(post.id, post.data.fileref)"
                  >
                    Invisible
                  </button>
                </div>
                <div *ngIf="itInVisble()">
                  <button
                    mat-button
                    color="accent"
                    (click)="editToVisible(post.id, post.data.fileref)"
                  >
                    VIsible
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </td>
      </table>

      <!-- <span (click)="deletePost(post.id, post.data.fileref)">Delete</span> -->
    </div>
  </div>
</div>
