<div class="row">
  <div class="col-md-6">
    <mat-card>
      <tr>
        Waiting List
      </tr>
    </mat-card>

    <mat-card *ngFor="let Contact of waiting_list">
      <table class="table">
        
        <tr>
          <td>Nic</td>
          <td>{{ Contact.nic }}</td>
        </tr>
        
      </table>

    </mat-card>
  </div>

  <div class="col-md-6">
      <mat-card>
        <tr>
          Ready List
        </tr>
      </mat-card>
  
      <mat-card *ngFor="let Contact of ready_list">
        <table class="table">
          
          <tr>
            <td>Nic</td>
            <td>{{ Contact.nic }}</td>
          </tr>
          
        </table>
  
      </mat-card>
  </div>

</div>


