<!-- <header>
    <div>
      <a routerLink="/addpost">New Post</a>
      <button (click)="button()">New One</button>
    </div>
  </header> -->

<div class="row showcase">
  <div class="col-md-8">
    <mat-card>
      <h2 align="center">Wig Showcase</h2>
    </mat-card>
  </div>

  <div class="col-md-8">
    <mat-card>
      <app-addposts></app-addposts>
    </mat-card>
  </div>

  <div class="col-md-8">
    <mat-card>
      <h2 align="center">Available Wigs</h2>
    </mat-card>
  </div>
</div>

<div>
  <app-main></app-main>
</div>

<router-outlet></router-outlet>
