body {
  margin: 0;
  padding: 0px;
  background: rgb(19, 23, 32); /* fallback for old browsers */
  color: #fff;
  font-family: 'poppins';
}

.percent {
  font-size: 3rem;
  color: rgb(25, 18, 80);
  padding-left: 30px;
}

.container {
  width: 80%;
  margin: 0 auto;
  background: rgb(8, 5, 27);
  -webkit-box-shadow: 0px 10px 12px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 12px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 12px -10px rgba(0, 0, 0, 0.75);
}

header {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-bottom: 1px solid rgb(25, 18, 80);
}

header div {
  padding-top: 100px;
  width: 40%;
  padding-left: 30px;
}

header div h1 {
  font-size: 3rem;
  line-height: 3rem;
}
header div a {
  border-radius: 5px;
  color: #111;
  text-decoration: none;
  padding: 10px;
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header img {
  position: absolute;
  width: 70%;
  top: -120px;
  min-width: 700px;
  right: -20px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post h3 span {
  cursor: pointer;
  color: #f80759;
}

.post {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  background: rgb(24, 17, 58);
  text-indent: 20px;
}

.cover {
  width: 100%;
  height: 230px;
  background-size: 140% !important;
  transition: background-size 0.4s ease-in-out;
}
.cover:hover {
  background-size: 150% !important;
}

form {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
}

form * {
  display: block;
}

form input,
form textarea {
  background: none;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 10px;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgb(25, 18, 80);
}

input[type='submit']:disabled {
  background: rgb(10, 7, 31);
  cursor: not-allowed;
}

input[type='submit'] {
  background: #bc4e9c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f80759,
    #bc4e9c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f80759,
    #bc4e9c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  width: 30%;
  max-width: 120px;
  border: none;
  font-size: 1.1rem;
  margin: 0px 0px 0px auto;
  transition: all 0.4s ease-in-out;
}

input[type='file'] {
  display: none;
}
label.cover {
  width: 30%;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  background: #f80759;
  border: 1px solid rgb(25, 18, 80);
  text-indent: 10px;
}

label.cover i {
  font-size: 1.2rem;
  padding-right: 10px;
}

form a {
  color: #fff;
  text-decoration: none;
}

.showcase {
  margin-left: 200px;
}
